:root { 
--black_900_3d:#1010103d; 
--red_700:#c3423f; 
--bluegray_100_3d:#d7d7d73d; 
--white_A700_3d:#ffffff3d; 
--gray_900_66:#12121266; 
--gray_900:#121212; 
--gray_900_28:#12121228; 
--gray_300:#eee4da; 
--white_A700_66:#ffffff66; 
--gray_300_7e:#eee4da7e; 
--black_900:#000000; 
--gray_900_b1:#121212b1; 
--gray_900_3d:#1212123d; 
--deep_orange_100_a3:#e2c8afa3; 
--gray_900_ea:#121212ea; 
--gray_900_51:#12121251; 
--white_A700_28:#ffffff28; 
--white_A700:#ffffff; 
}