
 @font-face { font-style : bold; src: url("assets/fonts/UrbanistRomanMedium.ttf"); font-family : "Urbanist"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("assets/fonts/UrbanistRomanSemiBold.ttf"); font-family : "Urbanist"; font-weight : 600;  }